:root { 
--gray_100_a5:#f6f6f6a5; 
--blue_A200:#3a86ff; 
--red_500:#ea4335; 
--green_600:#34a853; 
--gray_50:#f9fafc; 
--black_900_87:#00000087; 
--black_900_01:#0c0d10; 
--black_900:#000000; 
--blue_A200_01:#4285f4; 
--gray_600:#797979; 
--gray_700:#696969; 
--blue_900:#103f8a; 
--gray_500:#a6a6a6; 
--blue_gray_400:#81838a; 
--amber_500:#fbbc04; 
--indigo_50:#e5eaf1; 
--gray_900_00:#16161600; 
--gray_900:#412e15; 
--gray_100_7a:#f6f6f67a; 
--gray_100:#f6f6f6; 
--black_900_33:#00000033; 
--gray_100_01:#f2f5f8; 
--blue_100:#bbd4fc; 
--white_A700:#ffffff; 
--gray_500_19:#a1a1a119; 
}